apiVersion: apps/v1
kind: Deployment
metadata:
  name: reactive-resume
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reactive-resume
      app.kubernetes.io/name: reactive-resume
  template:
    metadata:
      labels:
        app: reactive-resume
        app.kubernetes.io/name: reactive-resume
    spec:
      containers:
      - name: reactive-resume
        image: ghcr.io/requarks/wiki:latest
        env:
        - name: DB_TYPE
          value: "postgres"
        - name: DB_HOST
          value: "reactive-resume-postgresql.media.svc.cluster.local"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: reactive-resume-config
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: reactive-resume-config
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            configMapKeyRef:
              name: reactive-resume-config
              key: DB_PASSWORD
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 5m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          periodSeconds: 30
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3000
          periodSeconds: 15
          failureThreshold: 3
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
