apiVersion: v1
kind: ConfigMap
metadata:
  name: navidrome-config
data:
  ND_SCANSCHEDULE: "1h"
  ND_UIWELCOMEMESSAGE: "Bienvenidos a HabiMusic - Música en alta definición"
  ND_SHAREURL: "https://music.citocafecito.work"
  ND_BACKUP_COUNT: "3"
  ND_BACKUP_PATH: "/data/backup"
  ND_ENABLEGRAVATAR: "true"
  ND_DEFAULTLANGUAGE: "es"
  ND_ENABLESHARING: "true"
  ND_LASTFM_LANGUAGE: "es"
  ND_PLAYLISTSPATH: "/data/playlists"
  ND_PREFERSORTTAGS: "true"
  ND_SCANNER_PURGEMISSING: "always"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: navidrome-playlists
data:
  Angra-Temple-of-Shadows-20th-Anniversary-Tour.m3u: |
    #EXTM3U
    #PLAYLIST:Angra - Temple of Shadows 20th Anniversary Tour
    #COMMENT: Prueba

    #EXTINF:-1,Nothing to Say
    /music/Angra/(2014) Secret Garden/Angra - Secret Garden - 02 - Nothing to Say.mp3

    #EXTINF:-1,Millennium Sun
    /music/Angra/(2001) Rebirth/Angra - 03 - Millennium Sun.mp3

    #EXTINF:-1,Tide of Changes - Part I
    /music/Angra/(2023) Cycles of Pain/Angra - 04 - Tide of Changes – Part I.flac

    #EXTINF:-1,Tide of Changes - Part II
    /music/Angra/(2023) Cycles of Pain/Angra - 04 - Tide of Changes – Part II.flac

    #EXTINF:-1,Deus le volt!
    /music/Angra/(2004) Temple of Shadows/Angra - 01 - Deus le volt!.mp3

    #EXTINF:-1,Spread Your Fire
    /music/Angra/(2004) Temple of Shadows/Angra - 02 - Spread Your Fire.mp3

    #EXTINF:-1,Angels and Demons
    /music/Angra/(2004) Temple of Shadows/Angra - 03 - Angels and Demons.mp3

    #EXTINF:-1,Waiting Silence
    /music/Angra/(2004) Temple of Shadows/Angra - 04 - Waiting Silence.mp3

    #EXTINF:-1,Wishing Well
    /music/Angra/(2004) Temple of Shadows/Angra - 05 - Wishing Well.mp3

    #EXTINF:-1,The Temple of Hate
    /music/Angra/(2004) Temple of Shadows/Angra - 06 - The Temple of Hate.mp3

    #EXTINF:-1,The Shadow Hunter
    /music/Angra/(2004) Temple of Shadows/Angra - 07 - The Shadow Hunter.mp3

    #EXTINF:-1,No Pain for the Dead
    /music/Angra/(2004) Temple of Shadows/Angra - 08 - No Pain for the Dead.mp3

    #EXTINF:-1,Winds of Destination
    /music/Angra/(2004) Temple of Shadows/Angra - 09 - Winds of Destination.mp3

    #EXTINF:-1,Sprouts of Time
    /music/Angra/(2004) Temple of Shadows/Angra - 10 - Sprouts of Time.mp3

    #EXTINF:-1,Morning Star
    /music/Angra/(2004) Temple of Shadows/Angra - 11 - Morning Star.mp3

    #EXTINF:-1,Late Redemption
    /music/Angra/(2004) Temple of Shadows/Angra - 12 - Late Redemption.mp3

    #EXTINF:-1,Vida Seca
    /music/Angra/(2023) Cycles of Pain/Angra - 06 - Vida seca.flac

    #EXTINF:-1,Rebirth
    /music/Angra/(2014) Secret Garden/Angra - Secret Garden - 10 - Rebirth.mp3

    #EXTINF:-1,Unfinished Allegro
    /music/Angra/(2014) Secret Garden/Angra - Secret Garden - 08 - Unfinished Allegro.mp3

    #EXTINF:-1,Carry On
    /music/Angra/(2014) Secret Garden/Angra - Secret Garden - 09 - Carry On.mp3

    #EXTINF:-1,Nova Era
    	/music/Angra/(2014) Secret Garden/Angra - Secret Garden - 11 - Nova era.mp3

    #EXTINF:-1,Gate XIII
    /music/Angra/(2004) Temple of Shadows/Angra - 13 - Gate XIII.mp3

  favorites.nsp: |
    {
      "name": "Favoritos",
      "comment": "Canciones marcadas como favoritas o con rating alto",
      "all": [
        {
          "any": [
            { "is": { "loved": true } },
            { "gt": { "rating": 3 } }
          ]
        }
      ],
      "sort": "dateLoved",
      "order": "desc"
    }

  supermix.nsp: |
    {
      "name": "Super Mix",
      "comment": "Selección aleatoria de canciones con rating alto o que ya han sido reproducidas",
      "all": [
        {
          "any": [
            { "gt": { "rating": 3 } },
            { "gt": { "playCount": 0 } }
          ]
        }
      ],
      "sort": "random",
      "limit": 200
    }

  supersupermix.nsp: |
    {
      "name": "Super Super Mix",
      "comment": "Selección aleatoria de canciones con rating muy alto o reproducidas anteriormente",
      "all": [
        {
          "any": [
            { "gt": { "rating": 4 } },
            { "gt": { "playCount": 0 } }
          ]
        }
      ],
      "sort": "random",
      "limit": 200
    }
  
  top_60s.nsp: |
    {
      "name": "Top 60s Mix",
      "comment": "Canciones favoritas o reproducidas de los años 60",
      "all": [
        {
          "any": [
            { "is": { "loved": true } },
            { "gt": { "rating": 3 } },
            { "gt": { "playCount": 0 } }
          ]
        },
        { "inTheRange": { "year": [1961, 1970] } }
      ],
      "sort": "-rating,title",
      "limit": 25
    }

  top_70s.nsp: |
    {
      "name": "Top 70s Mix",
      "comment": "Canciones favoritas o reproducidas de los años 70",
      "all": [
        {
          "any": [
            { "is": { "loved": true } },
            { "gt": { "rating": 3 } },
            { "gt": { "playCount": 0 } }
          ]
        },
        { "inTheRange": { "year": [1971, 1980] } }
      ],
      "sort": "-rating,title",
      "limit": 25
    }

  top_80s.nsp: |
    {
      "name": "Top 80s Mix",
      "comment": "Canciones favoritas o reproducidas de los años 80",
      "all": [
        {
          "any": [
            { "is": { "loved": true } },
            { "gt": { "rating": 3 } },
            { "gt": { "playCount": 0 } }
          ]
        },
        { "inTheRange": { "year": [1981, 1990] } }
      ],
      "sort": "-rating,title",
      "limit": 25
    }

  top_90s.nsp: |
    {
      "name": "Top 90s Mix",
      "comment": "Canciones favoritas o reproducidas de los años 90",
      "all": [
        {
          "any": [
            { "is": { "loved": true } },
            { "gt": { "rating": 3 } },
            { "gt": { "playCount": 0 } }
          ]
        },
        { "inTheRange": { "year": [1991, 2000] } }
      ],
      "sort": "-rating,title",
      "limit": 25
    }

  top_00s.nsp: |
    {
      "name": "Top 00s Mix",
      "comment": "Canciones favoritas o reproducidas de los años 2000",
      "all": [
        {
          "any": [
            { "is": { "loved": true } },
            { "gt": { "rating": 3 } },
            { "gt": { "playCount": 0 } }
          ]
        },
        { "inTheRange": { "year": [2001, 2010] } }
      ],
      "sort": "-rating,title",
      "limit": 25
    }

