apiVersion: v1
kind: PersistentVolume
metadata:
  name: penpot-valkey-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "{{ .Values.hostPath }}/valkey"
