apiVersion: v1
kind: PersistentVolume
metadata:
  name: penpot-assets-pv
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "{{ .Values.hostPath }}/assets"
