traefik:
  deployment:
  replicas: 1

providers:
  kubernetesIngress:
    enabled: true
  kubernetesCRD:
    enabled: true

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

ports:
  web:
    port: 80
    expose:
      default: true
  websecure:
    port: 443
    expose:
      default: true

service:
  type: LoadBalancer
  LoadBalancerIp: 192.168.1.19