apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-custom-dns
data:
  custom.conf: |
    address=/router.lan/192.168.1.1
    address=/deco.lan/192.168.1.3
    address=/pneuma.lan/192.168.1.220
    address=/julie.lan/192.168.1.221
    address=/vault.lan/192.168.1.226
    address=/minio.lan/192.168.1.227
    address=/suwayomi.lan/192.168.1.230
    address=/wiki.lan/192.168.1.231
    address=/infisical.lan/192.168.1.238
    address=/jellyfin.lan/192.168.1.242
    address=/habiflix.lan/192.168.1.242
    address=/jellyfseerr.lan/192.168.1.243
    address=/bazarr.lan/192.168.1.244
    address=/radarr.lan/192.168.1.245
    address=/sonarr.lan/192.168.1.246
    address=/prowlarr.lan/192.168.1.247
    address=/qbittorrent.lan/192.168.1.248
    address=/transmission.lan/192.168.1.248
    address=/torrent.lan/192.168.1.248
    address=/impresora.lan/192.168.1.254
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-local-override
data:
  custom-override.conf: |
    # Redirección de dominios públicos a IPs internas
    # rebind-domain-ok=/citocafecito.work/
    # address=/suwayomi.citocafecito.work/192.168.1.230
    # address=/habiflix.citocafecito.work/192.168.1.242
    # address=/jellyfin.citocafecito.work/192.168.1.242
    # address=/vault.citocafecito.work/192.168.1.226
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-adlists
data:
  adlists.list: |
    https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/domains/pro.plus.txt
    https://someonewhocares.org/hosts/zero/hosts
---


