apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-env
data:
  # Default Configuration
  TZ: "America/Bogota"
  # WEBPASSWORD_FILE: "/vault/secrets/admin_password"
  DNSMASQ_LISTENING: "all"
  
  # FTL
  FTLCONF_misc_etc_dnsmasq_d: "true"
  FTLCONF_dns_revServers: "true,192.168.1.0/16,192.168.1.1"
  FTLCONF_dns_upstreams: "1.1.1.1;1.0.0.1;8.8.8.8;8.8.4.4"

  # DHCP Server
  FTLCONF_dhcp_active: "true"
  FTLCONF_dhcp_start: "192.168.1.160"
  FTLCONF_dhcp_end: "192.168.1.253"
  FTLCONF_dhcp_router: "192.168.1.1"
  FTLCONF_dhcp_netmask: "255.255.255.0"
  FTLCONF_dhcp_leaseTime: "86400"
  FTLCONF_dhcp_rapidCommit: "true"
  FTLCONF_dhcp_ipv6: "true"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-custom-dns
data:
  custom.conf: |
    # Network
    address=/router.lan/192.168.1.1
    address=/deco.lan/192.168.1.3
    address=/deco-aux.lan/192.168.1.4
    address=/deco-x20.lan/192.168.1.5

    # Servers
    address=/catuai.lan/192.168.1.10

    # Services
    address=/vault.citocafecito.work/192.168.1.18
    address=/linkstack.citocafecito.work/192.168.1.25
    address=/music.citocafecito.work/192.168.1.26
    address=/suwayomi.citocafecito.work/192.168.1.23
    address=/wiki.citocafecito.work/192.168.1.24
    address=/resume.citocafecito.work/192.168.1.31
    address=/cv.citocafecito.work/192.168.1.31
    address=/mydrive.citocafecito.work/192.168.1.32
    address=/infisical.citocafecito.work/192.168.1.33
    address=/minio.citocafecito.work/192.168.1.34
    address=/transmission.citocafecito.work/192.168.1.36
    address=/jellyfin.citocafecito.work/192.168.1.40
    address=/habiflix.citocafecito.work/192.168.1.40
    address=/jellyseerr.citocafecito.work/192.168.1.41

    # Traefik Local
    address=/bazarr.citocafecito.work/192.168.1.19
    address=/radarr.citocafecito.work/192.168.1.19
    address=/sonarr.citocafecito.work/192.168.1.19
    address=/prowlarr.citocafecito.work/192.168.1.19
    address=/lidarr.citocafecito.work/192.168.1.19
    address=/flaresolverr.citocafecito.work/192.168.1.19
    address=/kite.citocafecito.work/192.168.1.19

    # Legacy .lan
    address=/jellyfin.lan/192.168.1.40
    address=/habiflix.lan/192.168.1.40
    address=/jellyseerr.lan/192.168.1.41

    # Computers
    address=/pneuma.lan/192.168.1.220
    address=/julie.lan/192.168.1.221

    # Printers
    address=/impresora.lan/192.168.1.225
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-local-override
data:
  custom-override.conf: |
    # address=/habiflix.citocafecito.work/192.168.1.40
    # address=/suwayomi.citocafecito.work/192.168.1.23
    # address=/vault.citocafecito.work/192.168.1.18
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-adlists
data:
  adlists.list: |
    https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/domains/pro.plus.txt
    https://someonewhocares.org/hosts/zero/hosts
---


