---
apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config
data:
  configuration.yaml: |
    homeassistant:
      name: Madeira
      latitude: 6.0301755
      longitude: -75.4229617
      elevation: 2276 
      unit_system: metric
      time_zone: America/Bogota

      allowlist_external_dirs:
        - "/config/www/camaras"
        - "/config/www/records"
        - "/config/www/timbre"
        - "/config/www/snapshots"

      media_dirs:
        audios: /config/www/audios
        camaras: /config/www/camaras
        records: /config/www/records
        snapshots: /config/www/snapshots
        timbre: /config/www/timbre

    default_config:

    api:

    http:
      server_host: 0.0.0.0
      server_port: 8123
      use_x_forwarded_for: true
      trusted_proxies:
        - 0.0.0.0/0
        - 192.168.1.10 

    logger:
      default: warning
      logs:
        # custom_components.epson_workforce: debug
        # custom_components.localtuya: debug
        custom_components.stellantis_vehicles: debug

    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml

    tts:
      - platform: google_translate

    shell_command:
      limpiar_timbre: "find /config/www/timbre/{thumbs,videos} -type f -mtime +7 -delete"
      limpiar_capturas: "find /config/www/snapshots -type f -mtime +7 -delete"
      limpiar_grabaciones: "find /config/www/records -type f -mtime +30 -delete"

    template:
      - binary_sensor:
          - name: "Familia en casa"
            unique_id: familia_en_casa
            device_class: presence
            icon: mdi:home-group
            state: >-
              {{ (is_state('person.habid_manzur', 'home')
                  or is_state('person.julieth_sarmiento', 'home')) }}

          - name: "Casa ocupada"
            unique_id: casa_ocupada
            device_class: presence
            icon: mdi:home-account
            state: >-
              {{ is_state('binary_sensor.familia_en_casa', 'on')
                or is_state('person.visitas', 'home') }}

    input_boolean:
      guest_mode:
        name: Modo invitados
        icon: mdi:account-group

    input_text:
      registro_videos:
        name: Registro de videos
        icon: mdi:cctv
        # max: 2000
