apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
      app.kubernetes.io/name: minio
  template:
    metadata:
      labels:
        app: minio
        app.kubernetes.io/name: minio
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: vault
        vault.hashicorp.com/agent-inject-secret-minio: "secret/data/minio"
        vault.hashicorp.com/agent-inject-template-minio: |
          {{- with secret "secret/data/minio" -}}
          MINIO_ROOT_USER={{ .Data.data.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD={{ .Data.data.MINIO_ROOT_PASSWORD }}
          {{- end }}
    spec:
      containers:
      - name: minio
        image: quay.io/minio/minio:latest
        command: [ "/bin/sh", "-c" ]
        args:
        - "set -a && source /vault/secrets/minio && exec minio server /data --console-address ':9090'"
        env:
        - name: MINIO_CACHE_ENABLE
          value: "false"
        ports:
        - name: api
          containerPort: 9000
        - name: console
          containerPort: 9090
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            cpu: 50m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /minio/health/live
            port: api
          initialDelaySeconds: 10
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /minio/health/ready
            port: api
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: data
          mountPath: /data
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: minio-pvc