apiVersion: v1
kind: PersistentVolume
metadata:
  name: linkstack-mysql-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
  - ReadWriteOnce
  storageClassName: manual
  hostPath:
    path: /mnt/linkstack-mysql
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: linkstack-mysql-pvc
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: 5Gi
