apiVersion: batch/v1
kind: Job
metadata:
  name: wait-for-arc-webhook
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
spec:
  template:
    spec:
      restartPolicy: OnFailure
      containers:
      - name: wait
        image: curlimages/curl
        command:
        - sh
        - -c
        - |
          until nc -z github-runners-actions-runner-controller-webhook.actions.svc 443; do
            echo "Waiting for ARC webhook..."
            sleep 5
          done
