name: Deploy Kustomizations

on:
  push:
    branches:
      - main
    paths:
      - "kustomizations/**"
      - ".github/workflows/deploy-kustomizations.yml"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            kubectl
            helm
            kustomize
            skaffold
          kubectl: latest
          helm: latest
          kustomize: latest
          skaffold: latest

      - name: Apply Kustomizations
        run: |
          kubectl  apply -k kustomizations
