name: Deploy Kustomizations

on:
  push:
    branches:
      - main
    paths:
      - "kustomizations/**"
      - ".github/workflows/deploy-kustomizations.yml"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - uses: qoomon/actions--setup-git@v1
        with:
          user: catuai

      - name: Apply Kustomizations
        uses: actions-hub/kubectl@master
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        with:
          args: apply -k kustomizations
