name: Deploy Kustomizations

on:
  push:
    branches:
      - main
    paths:
      - "kustomizations/**"
      - ".github/workflows/main.yml"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            kubectl
            helm
            kustomize
          kubectl: '1.33.4'
          helm: '3.18.6'
          kustomize: '5.6.0'

      # - name: Setup kubeconfig
      #   run: |
      #     mkdir -p ~/.kube
      #     echo "${KUBE_CONFIG}" | base64 -d > ~/.kube/config
      #     chmod 600 ~/.kube/config
      #   env:
      #     KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}

      - name: Apply Kustomizations
        run: |
          kubectl  apply -k kustomizations
