apiVersion: apps/v1
kind: Deployment
metadata:
  name: wikijs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wikijs
      app.kubernetes.io/name: wikijs
  template:
    metadata:
      labels:
        app: wikijs
        app.kubernetes.io/name: wikijs
    spec:
      containers:
      - name: wikijs
        image: ghcr.io/requarks/wiki:latest
        env:
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: wikijs-database
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: wikijs-database
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            configMapKeyRef:
              name: wikijs-database
              key: DB_PASSWORD
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 5m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3000
          periodSeconds: 30
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3000
          periodSeconds: 15
          failureThreshold: 3
        volumeMounts:
        - name: config
          mountPath: /wiki/config.yml
          subPath: config.yml
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      volumes:
      - name: config
        configMap:
          name: wikijs-config